@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);
* {
    font-family: 'cwTeXKai', serif;
    font-size: 18pt;
    cursor: url(../img/01.cur),auto;
    
}
a{cursor: url(../img/15.cur),auto}

body {
    background: url(../img/30b1OOOPICac.jpg);
    
}

nav {
    display: inline-block;
    height: 500px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
}

nav li {
    margin: 30px 0px;
}

nav li a {
    text-decoration: none;
    color: darkred;
    font-weight: bolder;
}

.right {
    display: inline-block;
    vertical-align: top;
    width: 78%;
}
