body{
    overflow-x: scroll
}

span {
    width: 400px;
    height: 100px;
    display: block;
    background: url(../img/blanklogo262.gif) no-repeat;
    background-position: center;
    background-size: contain;
    
}
#title{text-align:center;
line-height: 100px;
font-size: 36px;
color: red}

.img01,
.img02,
.img03 {
    display: block;
    width: 400px;
    vertical-align: top
}
.column{margin-top: 50px;margin-bottom: 100px}

.column h1{
    color: paleturquoise
}

h1.picture {
    color: white;
    font-size: 20px;
    font-weight: 100
}

p {
    margin-top: 50px;
    color: white
}
@media screen and (max-width:600px){
    span{
        width: 100%;
        position: relative
    }
    #title{
        font-size: 1em;
        line-height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px
    }
.img01,
.img02,
    .img03{
        width: 100%
    }
}
@media screen and (max-width:400px){
    span{
        width: 230px;
        
    }
}
