.banner {
    width:70%;
    display: block;
    margin: 0 auto;
}

marquee {
    display: block;
    width: 70%;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px
}
.first{color: white;line-height: 50px;

margin-bottom: 50px;}
.discount {
    margin-top: 30px;
    color: yellow;
    font-size: 40pt;
}

h2 {
    color: white;
    font-weight: 100;
    line-height: 30px
}

.card {
    color: red;
    font-weight: 100;
    font-size: 40pt
}

.survice {
   
    text-decoration: underline
}

.survice a {
    font-size: 32pt;
     color: blue;
}

.talk {
    background: url(../img/back-92.gif);
    padding: 10px
}

.talk h2 {
    color: black
}
p{color: white;}
@media screen and (max-width:400px){
    nav,.right{
        margin-top: 200px;
    }
    .right .banner{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0
    }
}
