* {
    color: white;
    cursor: url(../img/01.cur),auto;
}

body {
    background: url(../img/1825087be5.jpg);
    background-size: cover
}

a{cursor: url(../img/15.cur),auto}

h1 {
    text-align: center
}

.star {
    color: red
}

.girl {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.middle h1 {
    display: inline-block
}

.main {
    margin-top: 360px;
    margin-bottom: 120px;
}
.main h1{text-shadow: 3px 3px 3px #575757}

.enter {
    display: block;
    width: 235px;
    margin: 0 auto;
    margin-top: 100px
}

.middle {
    margin: 0 auto;
    width: 470px
}

.counter {
    position: relative;
    display: block;
    width: 230px;
    margin: 0 auto;
    
}

.counter h1 {
    display: inline-block;
    color: white
}
.counterimg{display: inline-block}